
@import '../../../styles/settings.scss';

.root {

  .item {
    margin-bottom: 20px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .link {
    color: $text-white;
    background-color: $main-color;
    height: 40px;
    text-decoration: none;
  }

  .link:hover {
    color: $main-color;
    background-color: $text-white;
  }

  .info {
    font-size: 12px;
    display: inline-block;
    margin-right: 20px;
  }
}
